<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>buildNumber</key>
			<string>5</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8E97126CCB25FFF24192821C466814880739213C</string>
				<key>dateExpires</key>
				<string>28/01/2023</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>5</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E97126CCB25FFF24192821C466814880739213C</string>
						<key>dateExpires</key>
						<string>28/01/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Capacitor.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7GQ75R8ZRX</string>
						<key>name</key>
						<string>Matteo Martinez</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>5</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E97126CCB25FFF24192821C466814880739213C</string>
						<key>dateExpires</key>
						<string>28/01/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorApp.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7GQ75R8ZRX</string>
						<key>name</key>
						<string>Matteo Martinez</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>5</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E97126CCB25FFF24192821C466814880739213C</string>
						<key>dateExpires</key>
						<string>28/01/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorCommunityHttp.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7GQ75R8ZRX</string>
						<key>name</key>
						<string>Matteo Martinez</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>5</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E97126CCB25FFF24192821C466814880739213C</string>
						<key>dateExpires</key>
						<string>28/01/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorHaptics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7GQ75R8ZRX</string>
						<key>name</key>
						<string>Matteo Martinez</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>5</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E97126CCB25FFF24192821C466814880739213C</string>
						<key>dateExpires</key>
						<string>28/01/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorKeyboard.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7GQ75R8ZRX</string>
						<key>name</key>
						<string>Matteo Martinez</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>5</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E97126CCB25FFF24192821C466814880739213C</string>
						<key>dateExpires</key>
						<string>28/01/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorSplashScreen.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7GQ75R8ZRX</string>
						<key>name</key>
						<string>Matteo Martinez</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>5</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E97126CCB25FFF24192821C466814880739213C</string>
						<key>dateExpires</key>
						<string>28/01/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorStatusBar.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7GQ75R8ZRX</string>
						<key>name</key>
						<string>Matteo Martinez</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>5</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E97126CCB25FFF24192821C466814880739213C</string>
						<key>dateExpires</key>
						<string>28/01/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cordova.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7GQ75R8ZRX</string>
						<key>name</key>
						<string>Matteo Martinez</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>buildNumber</key>
					<string>5</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E97126CCB25FFF24192821C466814880739213C</string>
						<key>dateExpires</key>
						<string>28/01/2023</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CordovaPlugins.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7GQ75R8ZRX</string>
						<key>name</key>
						<string>Matteo Martinez</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7GQ75R8ZRX.io.ionic.littoral</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>7GQ75R8ZRX</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>7GQ75R8ZRX.io.ionic.littoral</string>
				</array>
			</dict>
			<key>name</key>
			<string>App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>32af303f-e46e-407c-89fa-74b82952cebd</string>
				<key>dateExpires</key>
				<string>28/01/2023</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: io.ionic.littoral</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7GQ75R8ZRX</string>
				<key>name</key>
				<string>Matteo Martinez</string>
			</dict>
			<key>versionNumber</key>
			<string>1.4</string>
		</dict>
	</array>
</dict>
</plist>
